In [39]:
import math
import pandas as pd

In [40]:
def imprime_tabela(pd):
    return pd.DataFrame(data, columns=["a","b","x","Fa","Fb","Fx","Erro"])

In [41]:
def  f(n):  
    return  n**2-3

In [53]:
def bissec(a,b,f):
    return (a+b)/2

def posicao_falsa(a,b,f):
    return ((a * f(b)) - (b * f(a)))/(f(b)-f(a))

In [54]:
data = []
def  algoritmo(f,  a,  b,  e1,  e2,  k, funcao):
    i=0
    Fa = f(a)
    Fb = f(b)
    if (Fa * Fb > 0):
        print('nao  existe  raiz  no  intervalo  fornecido')  
    while(i in range(k) or (b-a) >= e1):
        x = funcao(a,b,f)
        if  (abs(f(x)) <= e2):
            return  x
        Fa = f(a)
        Fb = f(b)
        Fx = f(x)
        E = abs(Fa - Fb)
        if(Fa*Fx < 0):
            b = x
        if(Fb*Fx < 0):  
            a = x
        i+=1
        data.append([a,b,x,Fa,Fb,Fx,E])
    return  x

In [62]:
def newton(f, f_derivada, e, x0):
    while(True):
        x1 = x0-(f(x0)/f_derivada(x0))
        if abs(f(x1)) < e:
            return x1
        else:
            x0 = x1

In [61]:
algoritmo(f,1.5,1.8,0.04,0.00001,13, bissec)

1.7320678710937498

In [60]:
imprime_tabela(pd)

           a         b         x        Fa        Fb        Fx      Erro
0   1.650000  1.800000  1.650000 -0.750000  0.240000 -0.277500  0.990000
1   1.725000  1.800000  1.725000 -0.277500  0.240000 -0.024375  0.517500
2   1.725000  1.762500  1.762500 -0.024375  0.240000  0.106406  0.264375
3   1.725000  1.743750  1.743750 -0.024375  0.106406  0.040664  0.130781
4   1.725000  1.734375  1.734375 -0.024375  0.040664  0.008057  0.065039
5   1.729688  1.734375  1.729688 -0.024375  0.008057 -0.008181  0.032432
6   1.732031  1.734375  1.732031 -0.008181  0.008057 -0.000068  0.016238
7   1.732031  1.733203  1.733203 -0.000068  0.008057  0.003993  0.008124
8   1.732031  1.732617  1.732617 -0.000068  0.003993  0.001962  0.004061
9   1.732031  1.732324  1.732324 -0.000068  0.001962  0.000947  0.002030
10  1.732031  1.732178  1.732178 -0.000068  0.000947  0.000440  0.001015
11  1.732031  1.732104  1.732104 -0.000068  0.000440  0.000186  0.000507
12  1.732031  1.732068  1.732068 -0.000068  0.000186  0.000059  0.000254
13  1.727273  1.800000  1.727273 -0.750000  0.240000 -0.016529  0.990000
14  1.731959  1.800000  1.731959 -0.016529  0.240000 -0.000319  0.256529

In [57]:
algoritmo(f,1.5,1.8,0.04,0.00001,13, posicao_falsa)

1.7320490367775834

In [58]:
imprime_tabela(pd)

           a         b         x        Fa        Fb        Fx      Erro
0   1.650000  1.800000  1.650000 -0.750000  0.240000 -0.277500  0.990000
1   1.725000  1.800000  1.725000 -0.277500  0.240000 -0.024375  0.517500
2   1.725000  1.762500  1.762500 -0.024375  0.240000  0.106406  0.264375
3   1.725000  1.743750  1.743750 -0.024375  0.106406  0.040664  0.130781
4   1.725000  1.734375  1.734375 -0.024375  0.040664  0.008057  0.065039
5   1.729688  1.734375  1.729688 -0.024375  0.008057 -0.008181  0.032432
6   1.732031  1.734375  1.732031 -0.008181  0.008057 -0.000068  0.016238
7   1.732031  1.733203  1.733203 -0.000068  0.008057  0.003993  0.008124
8   1.732031  1.732617  1.732617 -0.000068  0.003993  0.001962  0.004061
9   1.732031  1.732324  1.732324 -0.000068  0.001962  0.000947  0.002030
10  1.732031  1.732178  1.732178 -0.000068  0.000947  0.000440  0.001015
11  1.732031  1.732104  1.732104 -0.000068  0.000440  0.000186  0.000507
12  1.732031  1.732068  1.732068 -0.000068  0.000186  0.000059  0.000254
13  1.727273  1.800000  1.727273 -0.750000  0.240000 -0.016529  0.990000
14  1.731959  1.800000  1.731959 -0.016529  0.240000 -0.000319  0.256529