In [174]:
import math
import pandas as pd

In [193]:
def imprime_tabela_algoritmo(pd, data):
    return pd.DataFrame(data, columns=["a","b","x","Fa","Fb","Fx","Erro"])

def imprime_tabela_algoritmo2(pd, data):
    return pd.DataFrame(data, columns=["Xn","f(Xn)","Xn+1"])
    #return pd.DataFrame(data, columns=["Xn","f(Xn)"])

In [176]:
def f(n):  
    return  math.pow(2,n) + (math.pow(n,2)) - 2 

def f_derivada(n):
    return (2*n) + (math.pow(2,n) * math.log(2))

In [177]:
def bissec(a,b,f):
    return (a+b)/2

def posicao_falsa(a,b,f):
    return ((a * f(b)) - (b * f(a)))/(f(b)-f(a))

In [204]:
data = []
def  algoritmo(f,  a,  b,  e1,  e2,  k, funcao):
    i=0
    Fa = f(a)
    Fb = f(b)
    if (Fa * Fb > 0):
        print('nao  existe  raiz  no  intervalo  fornecido')  
    while(i in range(k) or (b-a) >= e1):
        x = funcao(a,b,f)
        if  (abs(f(x)) <= e2):
            return  x
        Fa = f(a)
        Fb = f(b)
        Fx = f(x)
        E = abs(Fa - Fb)
        if(Fa*Fx < 0):
            b = x
        if(Fb*Fx < 0):  
            a = x
        i+=1
        data.append([a,b,x,Fa,Fb,Fx,E])
    return  x

In [213]:
data2 = []
def newton(f, f_derivada, e, x0):
    while(True):
        x1 = x0-(f(x0)/f_derivada(x0))
        xn1= x0-((f(x1))/f_derivada(x1))
        data2.append([x1, f(x1), xn1])
        if abs(f(x1)) < e:
            return x1
        else:
            x0 = x1

In [214]:
#lgoritmo(f,a,b, e1  ,e2  ,k, funcao):
algoritmo(f,0.0,1.0,0.05,0.001,6, posicao_falsa)

0.6533457073008027

In [215]:
imprime_tabela_algoritmo(pd, data)

          a    b         x        Fa   Fb        Fx      Erro
0  0.500000  1.0  0.500000 -1.000000  1.0 -0.335786  2.000000
1  0.625689  1.0  0.625689 -0.335786  1.0 -0.065567  1.335786
2  0.648721  1.0  0.648721 -0.065567  1.0 -0.011384  1.065567
3  0.652675  1.0  0.652675 -0.011384  1.0 -0.001936  1.011384
4  0.500000  1.0  0.500000 -1.000000  1.0 -0.335786  2.000000
5  0.625689  1.0  0.625689 -0.335786  1.0 -0.065567  1.335786
6  0.648721  1.0  0.648721 -0.065567  1.0 -0.011384  1.065567
7  0.652675  1.0  0.652675 -0.011384  1.0 -0.001936  1.011384

In [216]:
#ewton(f, f_derivada, e, x0):
newton(f, f_derivada, 0.02, 0.0)

0.6536971082471515

In [217]:
imprime_tabela_algoritmo2(pd, data2)

         Xn     f(Xn)      Xn+1
0  1.442695  2.799651 -0.586983
1  0.855712  0.541894  1.259979
2  0.672996  0.047305  0.836413
3  0.653697  0.000514  0.672782