In [1]:
# Python imports
from math import sqrt
import numpy as np
import pandas as pd

In [2]:
# My personal imports
import sys
sys.path.append('../')

from utils import limit_decimal, array_to_dict, print_dict, print_array

## 2nd Order Runge-Kutta Method

In [3]:
def rk2(f, x0, y0, h, n):
    vx = [0] * (n + 1)
    vy = [0] * (n + 1)
    vx[0] = x = x0
    vy[0] = y = y0
    k1 = [0]
    k2 = [0]
    
    for i in range(1, n + 1):
        k1.append(limit_decimal(f(x, y)))
        k2.append(limit_decimal(f(x + h, y + h * k1[i])))
        
        #print('k1:',k1[i],'k2:',k2[i])
        print('',y,'+',h/2,'*','(',k1[i],'+',k2[i],')',end='')
    
        vx[i] = x = limit_decimal(x0 + i * h)
        vy[i] = y = limit_decimal(y + h/2 * (k1[i] + k2[i]))
        
        print(' =',vy[i])
        
    return vx, vy, k1, k2

In [4]:
# test 3
def f(x, y):
    return x**2+14*x-y
 
vx, vy, k1, k2 = rk2(f, 0, 1, 0.2, 5)
data = []
for i in range(len(k1)):
    data.append([k1[i], k2[i], vy[i]])
print_array(data, vx)

 1 + 0.1 * ( -1.0 + 2.04 ) = 1.104
 1.104 + 0.1 * ( 1.736 + 4.3088 ) = 1.70848
 1.70848 + 0.1 * ( 4.05152 + 6.241216 ) = 2.7377536
 2.7377536 + 0.1 * ( 6.0222464 + 7.8977971 ) = 4.129758
 4.129758 + 0.1 * ( 7.710242 + 9.3281936 ) = 5.8336016

            0         1         2
0.0  0.000000  0.000000  1.000000
0.2 -1.000000  2.040000  1.104000
0.4  1.736000  4.308800  1.708480
0.6  4.051520  6.241216  2.737754
0.8  6.022246  7.897797  4.129758
1.0  7.710242  9.328194  5.833602

In [5]:
# test 3
def f(x, y):
    return x**2-3*x+y
 
vx, vy, k1, k2 = rk2(f, 0, 1, 0.2, 5)
data = []
for i in range(len(k1)):
    data.append([k1[i], k2[i], vy[i]])
print_array(data, vx)

 1 + 0.1 * ( 1.0 + 0.64 ) = 1.164
 1.164 + 0.1 * ( 0.604 + 0.2448 ) = 1.24888
 1.24888 + 0.1 * ( 0.20888 + -0.149344 ) = 1.2548336
 1.2548336 + 0.1 * ( -0.1851664 + -0.5421997 ) = 1.182097
 1.182097 + 0.1 * ( -0.577903 + -0.9334836 ) = 1.0309583

            0         1         2
0.0  0.000000  0.000000  1.000000
0.2  1.000000  0.640000  1.164000
0.4  0.604000  0.244800  1.248880
0.6  0.208880 -0.149344  1.254834
0.8 -0.185166 -0.542200  1.182097
1.0 -0.577903 -0.933484  1.030958

In [6]:
def trapezoidal(t):
    # Get valuos of x
    x = list(t.keys())
    # Calculate h
    h=limit_decimal((x[-1]-x[0])/(len(x)-1))
    
    tmp=0
    for i in range(1,len(x)-1):
        tmp += limit_decimal(t[x[i]])
    tmp = 2 * limit_decimal(tmp)
    tmp += limit_decimal(t[x[0]])
    tmp += limit_decimal(t[x[-1]])
    
    print((h/2),'*','[',t[x[0]],'+', '2 *', [[t[x[i]]][0] for i in range(1,len(x)-1)],'+',t[x[-1]],']')
    print((h/2),'*','[',t[x[0]],'+', tmp,'+',t[x[-1]],']')
    
    result = limit_decimal((h/2))*tmp
    return limit_decimal(result)

In [7]:
# teste 1
def f(x):
    return np.exp(x) + 15 * x**2

x = [0,0.25,0.5,0.75,1.0]
t = array_to_dict(f,x,5)

print(trapezoidal(t))
print_dict(t)

0.125 * [ 1.0 + 2 * [2.2215254, 5.3987213, 10.5545] + 17.7182818 ]
0.125 * [ 1.0 + 55.0677752 + 17.7182818 ]
6.8834719

     0         1         2        3          4
0  0.0  0.250000  0.500000   0.7500   1.000000
1  1.0  2.221525  5.398721  10.5545  17.718282

In [8]:
# FINAL
def f(x):
    return np.exp(x) -3*x**2+12

x = [0,0.25,0.5,0.75,1.0]
t = array_to_dict(f,x,5)

print(trapezoidal(t))
print_dict(t)

0.125 * [ 13.0 + 2 * [13.0965254, 12.8987213, 12.4295] + 11.7182818 ]
0.125 * [ 13.0 + 101.5677752 + 11.7182818 ]
12.6959719

      0          1          2        3          4
0   0.0   0.250000   0.500000   0.7500   1.000000
1  13.0  13.096525  12.898721  12.4295  11.718282

In [9]:
# FINAL
def f(x, y):
    return x**2-10*x+y
 
vx, vy, k1, k2 = rk2(f, 0, 1, 0.2, 5)
data = []
for i in range(len(k1)):
    data.append([k1[i], k2[i], vy[i]])
print_array(data, vx)

 1 + 0.1 * ( 1.0 + -0.76 ) = 1.024
 1.024 + 0.1 * ( -0.936 + -3.0032 ) = 0.63008
 0.63008 + 0.1 * ( -3.20992 + -5.651904 ) = -0.2561024
 -0.2561024 + 0.1 * ( -5.8961024 + -8.7953229 ) = -1.7252449
 -1.7252449 + 0.1 * ( -9.0852449 + -12.5422939 ) = -3.8879988

            0          1         2
0.0  0.000000   0.000000  1.000000
0.2  1.000000  -0.760000  1.024000
0.4 -0.936000  -3.003200  0.630080
0.6 -3.209920  -5.651904 -0.256102
0.8 -5.896102  -8.795323 -1.725245
1.0 -9.085245 -12.542294 -3.887999