In [1]:
# Python imports
from math import sqrt
import numpy as np
import pandas as pd

In [2]:
# My personal imports
import sys
sys.path.append('../')

from utils import limit_decimal, array_to_dict, print_dict, print_array

## 2nd Order Runge-Kutta Method

In [3]:
def rk2(f, x0, y0, h, n):
    vx = [0] * (n + 1)
    vy = [0] * (n + 1)
    vx[0] = x = x0
    vy[0] = y = y0
    k1 = [0]
    k2 = [0]
    
    for i in range(1, n + 1):
        k1.append(limit_decimal(f(x, y)))
        k2.append(limit_decimal(f(x + h, y + h * k1[i])))
        
        #print('k1:',k1[i],'k2:',k2[i])
        print('',y,'+',h/2,'*','(',k1[i],'+',k2[i],')',end='')
    
        vx[i] = x = limit_decimal(x0 + i * h)
        vy[i] = y = limit_decimal(y + h/2 * (k1[i] + k2[i]))
        
        print(' =',vy[i])
        
    return vx, vy, k1, k2

In [4]:
# test 3
def f(x, y):
    return x**2+14*x-y
 
vx, vy, k1, k2 = rk2(f, 0, 1, 0.2, 5)
data = []
for i in range(len(k1)):
    data.append([k1[i], k2[i], vy[i]])
print_array(data, vx)

 1 + 0.1 * ( -1.0 + 2.04 ) = 1.104
 1.104 + 0.1 * ( 1.736 + 4.3088 ) = 1.70848
 1.70848 + 0.1 * ( 4.05152 + 6.241216 ) = 2.7377536
 2.7377536 + 0.1 * ( 6.0222464 + 7.8977971 ) = 4.129758
 4.129758 + 0.1 * ( 7.710242 + 9.3281936 ) = 5.8336016

            0         1         2
0.0  0.000000  0.000000  1.000000
0.2 -1.000000  2.040000  1.104000
0.4  1.736000  4.308800  1.708480
0.6  4.051520  6.241216  2.737754
0.8  6.022246  7.897797  4.129758
1.0  7.710242  9.328194  5.833602

In [5]:
def trapezoidal(t):
    # Get valuos of x
    x = list(t.keys())
    # Calculate h
    h=limit_decimal((x[-1]-x[0])/(len(x)-1))
    
    tmp=0
    for i in range(1,len(x)-1):
        tmp += limit_decimal(t[x[i]])
    tmp = 2 * limit_decimal(tmp)
    tmp += limit_decimal(t[x[0]])
    tmp += limit_decimal(t[x[-1]])
    
    print((h/2),'*','[',t[x[0]],'+', '2 *', [[t[x[i]]][0] for i in range(1,len(x)-1)],'+',t[x[-1]],']')
    print((h/2),'*','[',t[x[0]],'+', tmp,'+',t[x[-1]],']')
    
    result = limit_decimal((h/2))*tmp
    return limit_decimal(result)

In [6]:
# teste 1
def f(x):
    return np.exp(x) + 15 * x**2

x = [0,0.25,0.5,0.75,1.0]
t = array_to_dict(f,x,5)

print(trapezoidal(t))
print_dict(t)

0.125 * [ 1.0 + 2 * [2.2215254, 5.3987213, 10.5545] + 17.7182818 ]
0.125 * [ 1.0 + 55.0677752 + 17.7182818 ]
6.8834719

     0         1         2        3          4
0  0.0  0.250000  0.500000   0.7500   1.000000
1  1.0  2.221525  5.398721  10.5545  17.718282